html {
    height: 100% !important;
}

body {
    min-height: 100%;
    background-color: rgb(225, 231, 245);
}

.site-row {
    display: flex;
    max-height: 100vh;
    justify-content: center;
}

.site-column {
    display: flex !important;
    flex-direction: column;
}

#formLog {
    display: block;
    padding: 25px;
    padding-right: 35px;
    padding-left: 35px;    
    background-color: white;
}

#formCad {
    display: block;
    padding: 25px;
    background-color: white;
}

.border {
    border-width: 10px;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.divrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
}

.divesq {
    font-size: 12px;
}

button {
    width: 100%;
}

.wrap {
    flex-grow:1;
}

.cardCad {
    padding: 5px;
    margin-top: 15px !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(151, 151, 151) !important;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.logo {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.logo > img {
    margin-top: 60px;
    width: 130px;
    height: 133px;
}

.border {
    border-color: rgb(151, 151, 151) !important;
}

#barravertical {
    padding-bottom: 5px;
    padding-top: 5px;
    border-right: 1px solid rgb(151, 151, 151)
}

.botaocad {
    width: 80px;
}

#vouc {
    width: 60%
}