html {
    height: 100% !important;
}

body {
    min-height: 100%;
    background-color: rgb(238, 238, 238);
}

.site-row {
    display: flex;
    max-height: 100vh;
    justify-content: center;
}

.site-column {
    display: flex !important;
    flex-direction: column;
}

#formLog {
    display: block;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: white;
}

#formCad {
    display: block;
    padding: 25px;
    background-color: white;
}

.border {
    border-color: rgb(221, 221, 221) !important;
    border-radius: 2px;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.divrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5px;
}

.divesq {
    font-size: 12px;
}

button {
    width: 100%;
}

.wrap {
    flex-grow:1;
}

.logo {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.logo > a > img {
    margin-top: 60px;
    width: 70px;
    height: 73px;
}

#barravertical {
    padding-bottom: 5px;
    padding-top: 5px;
    border-right: 1px solid rgb(151, 151, 151)
}

.botaocad {
    width: 80px;
}

#vouc {
    width: 60%
}

#foot {
    font-size: 14px;
}