html, body {
	height: 100%;
}

body {
	width: 100%;
}

/* Fim do css padrão */

/* Navbar */

#navLogo {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}

.flexCustom {
  width: 100%;
}

#inputNav {
	margin-top: 10px;
  width: 500px;
}

.nav-item {
	font-size: 18px;
	margin-left: 10px;
}

#nav-itemP {
	padding-right: 10px;
	border-right: 1px solid;
	border-color: #4dc5da;
}

.nav-item > a {
	color: #4dc5da;
	text-decoration: none;
}

.spanUfs {
	color:#4dc5da;
	font-size: 25px;
}

.btn-outline-light {
	margin-left: 10px;
	margin-top: 10px;
	height: 38px;
	color: #4dc5da;
	border-color: #4dc5da;
}

.btn-outline-light:hover {
	background-color: #4dc5da;
	border-color: #4dc5da;
	color: white;
}


.nav-item > a:hover {
	color: #fff;
}

.navbar .form-control {
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* Fim do Navbar */

/* Main */

/* Menu */

#menu {
	position: relative;
	padding:0px;
	background-color: #494e53;
}

.btn-light {
	background-color: #494e53;
	color: #4dc5da;
	border: none;
	border-radius: 0;
	width: 100%;
}

.btn-light:hover {
	background-color: #6c706e;
	color: #4dc5da;
}

#subitem {
	background-color: #4dc5da;
	color: #494e53;
}

#subitem:hover {
	background-color: #53dff8;
}

/* Fim do menu */

/* Conteúdo */

#conteudo {
	padding-right:0px;
} 

/* Fim do conteúdo */

/* Fim da main */